{{!< default}}

    <div class="row">
        <h4>Welcome!</h4>
        <div>Hey, I'm Tyler. I'm a <a href="code">full-stack developer</a> and <a href="projects">founder of startups</a>. I will soon be graduating from the <a href="http://www.sc.edu/" target="_blank">University of South Carolina</a> with a major in Computer Science. I enjoy problem solving and building new things. I live in the great city of <a href="http://en.wikipedia.org/wiki/Columbia,_South_Carolina" target="_blank">Columbia, SC</a>. If you want to learn more, check out my <a href="current">current work</a> and my <a href="about">full profile</a>.
        </div>
    </div>

    <div class="row">
        <h4>Discover</h4>
        <div>I enjoy finding new things. If you do too, check out my lists of favorite things. Hopefully, you'll find something new that you love too.
        </div>
        <ul>
            <li><a href="/books">Books</a></li>
            <li><a href="/pocasts">Podcasts</a></li>
            <li><a href="/apps">Apps</a></li>
            <li><a href="/music">Music</a></li>
        </ul>
    </div>

    <div class="row">
        {{#if posts}}
            <h4>Latest Posts</h4>
            <ul class="posts">
            {{#foreach posts}}
                {{> excerpt this}}
            {{/foreach}}
            </ul>
            {{pagination}}
        {{/if}}
    </div>
