{{!< default}}

    <div class="row">
        <h4>Who Am I?</h4>
        <div>Hey, I'm Tyler. I'm a <a href="">full-stack developer</a> and <a href="">founder of startups</a>. I will soon be graduating from the <a href="">University of South Carolina</a> with a major in Computer Science. I enjoy problem solving and building new things. I live in the great city of <a href="">Columbia, SC</a>. If you want to learn more, check out my <a href="">current work</a> and my <a href="">full profile</a>.
        </div>
    </div>

    <div class="row">
        <h4>Discover</h4>
        <div>I enjoy finding new things. If you do too, check out my lists. Hopefully, you'll find something new that you love.
        </div>
        <ul>
            <li><a href="">Books</a></li>
            <li><a href="">Podcasts</a></li>
            <li><a href="">Apps</a></li>
            <li><a href="">Music</a></li>
        </ul>
    </div>

    <div class="row">
        {{#if posts}}
            <h4>Latest Posts</h4>
            <ul class="posts">
            {{#foreach posts}}
                {{> excerpt this}}
            {{/foreach}}
            </ul>
            {{pagination}}
        {{/if}}
    </div>
