{{!< default}}
    
    <div class="row">
        {{#if posts}}
            <h4>Blog</h4>
            <ul class="posts">
            {{#foreach posts}}
                {{> excerpt this}}
            {{/foreach}}
            </ul>
            {{pagination}}
        {{/if}}
    </div>





